---

# **Connection between: Colab Session and your GitHub Repo**

### Insert your **credentials**

* The variable's content will exist only while the session exists. Once this session terminates, the variable's content will be erased permanently.

In [4]:
from getpass import getpass
import os
from IPython.display import clear_output 
print("=== Insert your credentials === \nType in and hit Enter")
UserName = getpass('GitHub User Name: ')
UserEmail = getpass('GitHub User E-mail: ')
RepoName = getpass('GitHub Repository Name: ')
UserPwd = getpass('GitHub Account Password: ')
clear_output()
print("* Thanks for inserting your credentials!")
print(f"* You may now Clone your Repo to this Session, "
      f"then Connect this Session to your Repo.")

* Thanks for inserting your credentials!
* You may now Clone your Repo to this Session, then Connect this Session to your Repo.

---

### **Clone** your GitHub Repo to your current Colab session

* So you can have access to your project's files

In [5]:
! git clone https://github.com/{UserName}/{RepoName}.git

print("\n")
%cd /content/{RepoName}
print(f"\n\n* Current session directory is:  {os.getcwd()}")
print(f"* You may refresh the session folder to access {RepoName} folder.")

Cloning into 'unit-test-example'...
remote: Enumerating objects: 43, done.
remote: Counting objects: 100% (43/43), done.
remote: Compressing objects: 100% (33/33), done.
remote: Total 43 (delta 11), reused 15 (delta 4), pack-reused 0
Unpacking objects: 100% (43/43), done.


/content/unit-test-example


* Current session directory is:  /content/unit-test-example
* You may refresh the session folder to access unit-test-example folder.

---

### **Connect** this Colab session to your GitHub Repo

* So if you need, you can push files generated in this session to your Repo.

In [6]:
!git config --global user.email {UserEmail}
!git config --global user.name {UserName}
!git remote rm origin
!git remote add origin https://{UserName}:{UserPwd}@github.com/{UserName}/{RepoName}.git
print(f"\n\n * The current Colab Session is connected to the following GitHub repo: {UserName}/{RepoName}")
print(" * You can now push new files to the repo.")

 * The current Colab Session is connected to the following GitHub repo: FernandoRocha88/unit-test-example
 * You can now push new files to the repo.

---

### **Push** generated/new files from this Session to GitHub repo

* Git commit

In [21]:
CommitMsg = "update"
!git add .
!git commit -m {CommitMsg}

[main b218af9] update
 2 files changed, 83 deletions(-)
 delete mode 100644 jupyter_notebooks/notebook01.ipynb
 delete mode 100644 jupyter_notebooks/notebook_Example.ipynb

* Git Push

In [22]:
!git push origin main

Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 283 bytes | 283.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/FernandoRocha88/unit-test-example.git
   8ecf56a..b218af9  main -> main

---

### **Delete** Cloned Repo from current Session

In [3]:
%cd /content
!rm -rf {RepoName}
print(f"\n * Please refresh session folder to validate that {RepoName} folder was removed from this session.")

/content

 * Please refresh session folder to validate that WalkthroughProject1 folder was removed from this session.

---

# How to push a file from colab session to repo?

In [7]:
import numpy as np
import pandas as pd

In [13]:
arr = np.random.randint(low=0,high=100,size=20)
arr

array([29, 75, 19, 45, 97,  3, 51, 92, 78, 35, 22, 82, 61, 24, 55, 94, 46,
       83, 17,  0])

In [14]:
df = pd.DataFrame(data={"col1":arr})
df

    col1
0     29
1     75
2     19
3     45
4     97
5      3
6     51
7     92
8     78
9     35
10    22
11    82
12    61
13    24
14    55
15    94
16    46
17    83
18    17
19     0

In [15]:
! pwd

/content/unit-test-example

In [16]:
df.to_csv("great-file.csv")

# Your second notebook section